*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fuzzy Bubbles', cursive;

}
a, a:hover{
    text-decoration: none;
}
/* global css*/
.container{
    width: 1140px;
    margin: 0px auto;
}
.row{
    width: 100%;
    float: left
}
.col-6{
    width:50%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
/* global css end */
.header{
    width: 100%;
    float: left;
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
}
.header .logo{
    width: auto;
}
.header .menu{
    width: 100%;
    float: left;
    text-align: right;
}
.header li{
    list-style: none;
    display: inline-block;
    margin: 10px 0px;
}
.header a{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: ;
    margin: 0px 0px 0px 10px;

}
.header li a:hover{
    color: aqua;
}
.banner{
    width: 100%;
    float: left;
    text-align: center;
    padding: 80px 0px;
}
.banner h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    color: #0F2656;
    margin: 0px 0px 15px;

}
.banner h1 span{
    color: #008AFF;

}
.banner p{
    font-size: 14px;
    line-height: 24px;
    color: #0F2656;
    font-weight: 400;
    margin: 0px 0px 15px;

}
.banner .banner-img{
    width: 60%;
    margin: 15px 0px 0px;

}
.successfull{
    width: 100%;
    float: left;
    padding: 40px 0px;
}
.inner-success-left{
    width: 100%;
    float: left;
    text-align: right;
}
.inner-success-left h1{
    font-size: 54px;
    line-height: 64px;
    color: pink;
    margin: 0px 25px 0px 0px;
}
.inner-success-left p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 20px 25px 0px 0px;
}
.inner-success-right{
    width: 100%;
    float: left;
}
.inner-success-right h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    color: #0F2656;
    margin: 0px 0px 0px 25px;
    

}
.feature{
    width: 100%;
    float: left;
    padding: 80px 0px;
}
.inner-feature{
    width: 80%;
    float: left;
    margin: 0px 15px;
    padding: 40px 25px;
}
.inner-feature .fb{
    width: 100%;
    height: 200px;
}
.inner-feature h5{
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #0F2656;
    margin: 10px 0px 10px 0px;
}
.inner-feature p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #0F2656;

}
.c1{
    background: #FDEBED;
}
.c2{
    background:#eee ;
}
.c3{
    background: #FFF7E8;
}
.footer{
    width: 100%;
    float: left;
    background: #008AFF;
    padding: 15px 0px;
}
.footer p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #88C1FF;
    text-align: center;
}
.footer p a{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}